<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout (~{::body},'prestamo')}">
   
    <body>
        
        <div class="container">
            <p>Bienvenido!!! A continuación, puede solicitar un nuevo préstamo o pagar las cuotas que tiene pendientes.</p>

            <a href="/prestamo/solicitar" class="btn" style="background-color: purple; color: white;">Solicitar un nuevo préstamo</a>

            <table th:if="${pendientes.size() > 0}" class="table">
                <thead>
                    <tr>
                        <th>Cuotas</th>
                        <th>Monto</th>
                        <th>Tipo Moneda</th>
                        <th>Fecha Desembolso</th>
                        <th>Status</th>
                        <th>Ver Cronograma</th>
                    </tr>
                </thead>
                <tbody>
        
                    <tr th:each="pendiente : ${pendientes}">
                        <td th:text="${pendiente.cuotas}"></td>
                        <td th:text="${pendiente.monto}"></td>
                        <td th:text="${pendiente.tipo_moneda}"></td>
                        <td th:text="${pendiente.fecha_desembolso}"></td>
                        <td th:text="${pendiente.estado}"></td>
                        <td th:if="${pendiente.estado == 'Aprobado'}"><a class="btn" style="background-color: purple; color: white;" th:href="@{/prestamo/cronograma}">Ver Cronograma</a></td>
                        <td th:if="${pendiente.estado == 'Pendiente'} or ${pendiente.estado == 'Finalizado'}">-</td>
                    </tr>
                
                </tbody>
            </table>


            <div th:if="${pendientes.size() == 0}" class="alert alert-danger text-center mt-3" style="font-size: 18px;">
              
                Lo siento pero no tiene ningun prestamo pendiente, aprobado o rechazado.

            </div>

        </div>

        <script th:inline="javascript">

             
            /*<![CDATA[*/
            var autorizacion = /*[[${autorizacion}]]*/ "";
            var status = /*[[${status}]]*/ "";
            var mensaje = /*[[${mensaje}]]*/ "";
            /*]]>*/

            document.addEventListener('DOMContentLoaded' , () => {
            
                if(autorizacion !== null){

                    Swal.fire({
                        icon:'error',
                        title: 'Lo siento',
                        text: autorizacion,
                        showClass: {
                        popup: 'animate__animated animate__fadeInDown'
                        },
                        hideClass: {
                        popup: 'animate__animated animate__fadeOutUp'
                        }
                    })
                }

                if(status !== null && mensaje !== null){
                        Swal.fire({
                        icon: 'success',
                        title: mensaje
                        });
                }


            })

      </script>

    </body>
</html>