<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

    <div class="text-right">
        <span>Tipo de cambio actual</span>
        <br>
        <span th:text="'Compra: S/. ' + ${compra} + ' - Venta: S/. ' + ${venta}"></span>
        <br>
        <span class="small" th:text="'Última actualización: ' + ${#dates.format(fechaHora, 'dd/MM/yyyy HH:mm:ss')}"></span>
    </div>

    <br>

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
           <img th:src="@{/img/carrusel-1.png}" alt="">
    
            <div class="container">
              <div class="carousel-caption">
                
                <p><a class="btn" style="background-color: purple; color: white; font-size: 20px;" href="#">Mas Informacion</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img th:src="@{/img/carrusel-2.jpg}" alt="">
    
            <div class="container">
              <div class="carousel-caption">
                <h1>Prestamos <strong style="color: purple;">Altoque</strong></h1>
                <p>Necesitas dinero y no quieres mucho papeleo?</p>
                <p><a class="btn" style="background-color: purple; color: white;" href="#">Mas Informacion</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
           <img th:src="@{/img/carrusel-3.jpg}" alt="">
    
            <div class="container">
              <div class="carousel-caption text-end">
                <h1 style="color: black;">Cansado de Tarifas Elevadas?</h1>
                <p>Solicita un prestamo con nosotros con el banco con la <strong style="color: purple; font-size: 30px;">tarifa</strong> mas accequible del mercado</p>
                <p><a class="btn" style="background-color: purple; color: white;" href="#">Mas Informacion</a></p>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    <div class="container marketing">
      <div class="row">
        <div class="col-lg-4">
          <img th:src="@{/img/Prestamo.png}" alt="">
  
          <h2>Necesito un prestamo</h2>
          <p>Solicita un prestamo con nosotros, te daremos una tasa minima de interes y pago de 3 cuotas sin intereses </p>
          <p><a class="btn" style="background-color: purple; color: white;" th:href="@{/prestamo/}">Ver Detalles &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img th:src="@{/img/Abre-cuenta.png}" alt="">
  
          <h2>Obten una cuenta de ahorros</h2>
          <p>Necesitas un lugar seguro para tu dinero? , ven y abre una cuenta de ahorro con nosotros y te ofrecemos un viaje al mundial de Qatar 2022</p>
          <p><a class="btn" style="background-color: purple; color: white;" th:href="@{/ahorro/}">Ver Detalles &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
         <img th:src="@{/img/Adelanto_sueldo.png}" alt="">
  
          <h2>Paga tus deudas</h2>
          <p>Necesitas cancelar tus deudas de prestamos anteriores? ven y paga con nostros gracias a nuestra pasarela de pago.</p>
          <p><a class="btn" style="background-color: purple; color: white;" href="#">Ver Detalles &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div>

      <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading" style="color: purple;">Obten tu prestamo <span class="text-muted">Online</span></h2>
        <p class="lead">Y se uno de los 50 ganadores de S./500 soles .</p>
      </div>
      <div class="col-md-5">
        <img th:src="@{/img/money.webp}" width="300" height="300" alt="">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading" style="color: purple;">Abre tu cuenta de ahorros<span class="text-muted"> de manera rapida y sencilla</span></h2>
        <p class="lead">Manten tu plata de manera segura y ademas participa del sorte por S./5.000 soles</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img th:src="@{/img/AHORRAR.webp}" width="300" height="300" alt="">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading" style="color: purple;">Aun no eres cliente?<span class="text-muted"> registrate y se parte de nuestra comunidad</span></h2>
        <p class="lead">Y accede a muchos beneficios y premios cada mes.</p>
      </div>
      <div class="col-md-5">
       <a th:href="@{/register/register}"><img th:src="@{/img/REGISTRATE.png}" width="400" height="300" alt=""></a>

      </div>
    </div>

    <hr class="featurette-divider">
    </div>
    
</body>
</html>