<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout (~{::body},'detalle')}">
   
    <body>
        
        <div class="container">
             
            <div class="row">
              
              <div class="col-sm-12 mb-3">
                <div class="card text-center">
                    <div class="card-header">
                      Detalle de la solicitud de prestamo
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Info del usuario</h5>
                      <p class="card-text" th:text="'Numero de Dni: ' + ${solicitud.usuario.dni}"></p>
                    </div>
                    <div class="card-footer text-muted">
                    
                    </div>
                  </div>
                </div>

               <div class="col-sm-6">
                  
                <div class="card text-dark bg-light mb-3">
                    <div class="card-header">Tarifa</div>
                    <div class="card-body">
                      <h5 class="card-title">Intereses a pagar</h5>
                      <p class="card-text">Detalle de las tasas de intereses del prestamo</p>
                    </div>
                       
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" th:text="'Tasa especial Anual: ' +  ${solicitud.tarifa.tea} + '%'"></li>
                        <li class="list-group-item" th:text="'Tasa desgravamen: ' + ${solicitud.tarifa.desgravamen} + '%'"></li>
                        <li class="list-group-item" th:text="'Tasa de mora: ' + ${solicitud.tarifa.interes_mora} + '%'"></li>
                      </ul>

                  </div>

               </div>

               <div class="col-sm-6">
                  
                <div class="card text-dark bg-light mb-3">
                    <div class="card-header">Prestamos</div>
                    <div class="card-body">
                      <h5 class="card-title">Detalles del Prestamo</h5>
                      <p class="card-text">Detalles especificos del Prestamo</p>
                    </div>
                       
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" th:text="'Cantidad de cuotas: ' +  ${solicitud.cuotas}"></li>
                        <li class="list-group-item" th:text="'Tipo de moneda: ' + ${solicitud.tipo_moneda}"></li>
                        <li class="list-group-item" th:text="'Monto solicitado: ' + ${solicitud.monto}"></li>
                      </ul>

                  </div>

               </div>


               <div class="col-sm-6">
                       
                <div class="card text-dark bg-light mb-3">
                    <div class="card-header">Informacion</div>
                    <div class="card-body">
                      <h5 class="card-title">Informacion Crediticia</h5>
                      <p class="card-text">Detalles crediticios del usuario</p>
                    </div>
                       
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" th:text="'Ingreso mensual: ' + 'S./' + ${solicitud.sueldo_trabajo}"></li>
                        <li class="list-group-item" th:text="'Cantidad de hijos: ' + ${solicitud.num_hijos}"></li>
                        <li class="list-group-item" th:text="'Hijos Mayores de edad: ' + ${solicitud.num_hijos_mayores}"></li>
                      </ul>

                  </div>
                
               </div>

               <div class="col-sm-6">
                       
                <div class="card text-dark bg-light mb-3">
                    <div class="card-header">Informacion</div>
                    <div class="card-body">
                      <h5 class="card-title">Informacion Crediticia</h5>
                      <p class="card-text">Detalles crediticios de terceros</p>
                    </div>
                       
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" th:text="${solicitud.lista_negra}"></li>
                        <li class="list-group-item" th:text="${solicitud.equifax}"></li>
                      </ul>

                  </div>
                
               </div>

               <div class="col-sm-6">
                    
                <div class="card border-dark mb-3">
                    <div class="card-header">Informacion del Prestamo</div>
                    <div class="card-body text-dark">
                      <h5 class="card-title">Motivo del Prestamo</h5>
                      <p class="card-text" th:text="${solicitud.razon_prestamo}"></p>
                    </div>
                  </div>

               </div>

               
               <div class="col-sm-6">
                    
                <div class="card border-dark mb-3">
                    <div class="card-header">Informacion del Prestamo</div>
                    <div class="card-body text-dark">
                      <h5 class="card-title">Descripcion del trabajo</h5>
                      <p class="card-text" th:text="${solicitud.des_trabajo}"></p>
                    </div>
                  </div>

               </div>
               
               
                <div class="col-md-12">
                   
                   <button id="btnAprobar" class="btn btn-success">Aprobar Prestamo</button>
                   <button id="btnDesaprobar" class="btn btn-danger">Desaprobar prestamo</button>

                </div>
            

            </div>
           
        </div>

        <script th:inline="javascript">

          
                /*<![CDATA[*/
                var idSolicitud = /*[[${idSolicitud}]]*/ "";
                /*]]>*/

         
                const btnAprobar = document.getElementById('btnAprobar');
                const btnDesaprobar = document.getElementById('btnDesaprobar');

                btnAprobar.addEventListener('click', () => {
                    
                  Swal.fire({
                          title: 'Estas seguro de aprobar el prestamo?',
                          text: "Recuerda que una vez que se apruebe el prestamo esta accion no se puede revertir!",
                          icon: 'warning',
                          showCancelButton: true,
                          confirmButtonColor: '#3085d6',
                          cancelButtonColor: '#d33',
                          confirmButtonText: 'Si aprobar prestamo!',
                          cancelButtonText: 'Cancelar'
                        }).then((result) => {
                          if (result.isConfirmed) {
                            Swal.fire(
                              'Aprobado!',
                              'El prestamo a sido aprobado.',
                              'success'
                            )

                            window.location.href = "/admin/aprobar/" + idSolicitud;
                          }
                    })

                   
                });

                btnDesaprobar.addEventListener('click', () => {
                    
                  Swal.fire({
                          title: 'Estas seguro de desaprobar el prestamo?',
                          text: "Recuerda que una vez que se desapruebe el prestamo esta accion no se puede revertir!",
                          icon: 'warning',
                          showCancelButton: true,
                          confirmButtonColor: '#3085d6',
                          cancelButtonColor: '#d33',
                          confirmButtonText: 'Si desaprobar prestamo!',
                          cancelButtonText: 'Cancelar'
                        }).then((result) => {
                          if (result.isConfirmed) {
                            Swal.fire(
                              'Denegado!',
                              'El prestamo a sido Denegado.',
                              'success'
                            )

                            window.location.href = '/admin/desaprobar/' + idSolicitud;
                          }
                    })


                  
                });


        </script>

    </body>
</html>