<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout (~{::body},'pago')}">

    <body>

        <div class="card text-center mb-3">
            <div class="card-header">
              Detalle de la cuota
            </div>
            <div class="card-body">
              <h5 class="card-title" th:text="'Numero de cuota: ' + ${numCuota}"></h5>
              <p class="card-text" th:text="'Monto total a pagar ' + ${cuota.monto_total}"></p>
            </div>
            <div class="card-footer text-muted">
               <p th:text="'Fecha maxima de pago: ' + ${cuota.fecha_pago}"></p>
            </div>
          </div>


            <div class="container bg-light d-md-flex align-items-center">
                <div class="card box2 shadow-sm">
                    <div class="d-flex align-items-center justify-content-between p-md-5 p-4">
                        <span class="h5 fw-bold m-0">Formulario de pago</span>
                    </div>
                    <div class="card box2 shadow-sm">
                        <p th:text="${mensajeRecarga}"></p>
                        <p th:text="${mensajeError}" class="text-danger"></p>
                    </div>
                    <form th:action="@{/pago/pagar}" th:object="${pago}" method="post">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex flex-column px-md-5 px-4 mb-4">
                                    <span>Número de tarjeta</span>
                                    <div class="inputWithIcon">
                                        <input type="text" class="form-control" id="nroTarjeta" th:field="*{nroTarjeta}" data-inputmask="'mask': '9999 9999 9999 9999'" minlength="19" maxlength="19" oninput="cambiarLogo(this.value);" required>
                                        <span class="">
                                            <img class="imgLogo" id="logoTipoTarjeta" alt="" width="64" height="36">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="d-flex flex-column px-5">
                                    <span>Mes</span>
                                    <select class="form-control" th:field="*{dueMonth}" required>
                                        <option value="">- Seleccione -</option>
                                        <option value="01">Enero</option>
                                        <option value="02">Febrero</option>
                                        <option value="03">Marzo</option>
                                        <option value="04">Abril</option>
                                        <option value="05">Mayo</option>
                                        <option value="06">Junio</option>
                                        <option value="07">Julio</option>
                                        <option value="08">Agosto</option>
                                        <option value="09">Setiembre</option>
                                        <option value="10">Octubre</option>
                                        <option value="11">Noviembre</option>
                                        <option value="12">Diciembre</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="d-flex flex-column px-5">
                                    <span>Año</span>
                                    <select class="form-control" th:field="*{dueYear}" required>
                                        <option value="">- Seleccione -</option>
                                        <option value="2023">2023</option>
                                        <option value="2024">2024</option>
                                        <option value="2025">2025</option>
                                        <option value="2026">2026</option>
                                        <option value="2027">2027</option>
                                    </select>
                                </div>
                            </div>
                        
                            <div class="col-4">
                                <div class="d-flex flex-column px-md-5 px-5 mb-4">
                                    <span>CVV</span>
                                    <input type="password" class="form-control" th:field="*{cvv}" minlength="3" maxlength="3">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex flex-column px-md-5 px-4 mb-4">
                                    <span>Nombre como figura en la tarjeta</span>
                                    <input class="form-control text-uppercase" type="text" th:field="*{nombre}" minlength="10">
                                </div>
                            </div>
                        </div>

                        <input type="text" th:field="*{moneda}" hidden>
                        <input type="text" th:field="*{monto}" hidden>
                        <input type="text" th:field="*{tcCompra}" hidden>
                        <input type="text" th:field="*{tcVenta}" hidden>

                        <div class="col-12 px-md-5 px-4 mt-3">
                            <button class="btn w-100" style="background-color: purple; color: white;" th:text="'Pagar ' + ${textoPago}"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    <script th:src="@{/assets/dist/js/jquery-3.6.1.min.js}"></script>
    <script th:src="@{/assets/dist/js/jquery.inputmask.min.js}"></script>

    <script>
        
        window.addEventListener('load', function() {
            cambiarLogo(document.getElementById('nroTarjeta').value);
        });

        $(":input").inputmask();

        function cambiarLogo(nroTarjeta){

            if(nroTarjeta.substring(0,1) === '4'){
                document.getElementById('logoTipoTarjeta').src = '/img/visa-logo.png';
            }else if(nroTarjeta.substring(0,1) === '5'){
                document.getElementById('logoTipoTarjeta').src = '/img/master-card-logo.png';
            }else{
                document.getElementById('logoTipoTarjeta').src = '/img/blank.png';
            }

        }

    </script>

    </body>
</html>