<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout (~{::body},'login')}">
   
    <body>
        <div>
    
            <div class="container_login">
                <h2>Iniciar Sesion</h2>
                <p th:if="${sesion != null}" th:text="${sesion}"></p>
                <form class="forma_login" th:action="@{/usuario/login}" method="post">
                    <input class='input correo'type="text" name="username" id="username" placeholder="Correo:" autofocus>
                    <input class='input contraseña'type="password" name="password" id="password" placeholder="Contraseña:" >
                    <p th:if="${error != null}" th:text="${error}" class="alert alert-danger text-center" ></p>
                    <input class='botonL'type="submit" value="Logearse"> 
                    <p>¿Aun no tienes una cuenta? <a th:href="@{/register/register}">Registrarse</a></p>
                </form>
            </div>
    
        </div>

          <script th:inline="javascript">

             
                /*<![CDATA[*/
                var autorizacion = /*[[${autorizacion}]]*/ "";
                /*]]>*/

                document.addEventListener('DOMContentLoaded' , () => {
                
                    if(autorizacion !== null){

                        Swal.fire({
                            icon:'error',
                            title: 'Lo siento',
                            text: autorizacion,
                            showClass: {
                            popup: 'animate__animated animate__fadeInDown'
                            },
                            hideClass: {
                            popup: 'animate__animated animate__fadeOutUp'
                            }
                        })
                    }


                })

          </script>

    </body>
</html>